@model ContactCards.WebUI.ViewModel.ContactCardViewModel
<div class="col-sm-5 bootcards-list" id="list" data-title="Contacts">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="search-form">
                <div class="row">
                    <div class="col-xs-9">
                        <div class="form-group">
                            <input type="text" id="search" class="form-control" placeholder="Search Contacts...">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a class="btn btn-primary btn-block" href="#"
                           data-toggle="modal"
                           data-target="#addModal">
                            <i class="fa fa-plus"></i>
                            <span>Add</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group">
            @foreach (var item in Model.CC)
            {
                <div class="searching" style="">
                    <a class="list-group-item pjax "
                       href="/ContactCard/Details/@item.Id">
                        <img src="@item.Photo" class="img-rounded pull-left" />
                        <h4 class="list-group-item-heading">@item.FirstName @item.LastName</h4>
                        <p class="list-group-item-text">@item.MobileNo</p>
                    </a>
                </div>

            }
        </div>
    </div>
</div>
<div class="col-sm-7 bootcards-cards hidden-xs" id="listDetails">
    <div id="contactCard">
    </div>
</div>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("Create", "ContactCard", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <div class="modal-header">

                        <div class="btn-group pull-left">
                            <button class="btn btn-danger" data-dismiss="modal">
                                Cancel
                            </button>
                        </div>

                        <div class="btn-group pull-right">
                            <button type="submit" class="btn btn-success">
                                Save
                            </button>
                        </div>
                        <h4 class="modal-title">
                            Add Contact
                        </h4>
                    </div>
                    <div class="modal-body">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.C.FirstName, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.C.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.C.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.C.MiddleName, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.C.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.C.MiddleName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.C.LastName, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.C.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.C.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.C.Address, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.C.Address, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.C.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.C.Town, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.C.Town, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.C.Town, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.C.City, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.C.City, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.C.City, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.C.Pincode, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.C.Pincode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.C.Pincode, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.C.Photo, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.C.Photo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.C.Photo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.C.MobileNo, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.C.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.C.MobileNo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.C.HomeNo, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.C.HomeNo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.C.HomeNo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.C.EmailId, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.C.EmailId, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.C.EmailId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.C.BirthDate, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.C.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.C.BirthDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.C.NirvanTithi, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.C.NirvanTithi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.C.NirvanTithi, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.C.BloodGroup, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.C.BloodGroup, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.C.BloodGroup, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.C.Education, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.C.Education, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.C.Education, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.C.InterestedIn, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.C.InterestedIn, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.C.InterestedIn, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.C.GurukulSanstha, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.C.GurukulSanstha, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.C.GurukulSanstha, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.C.SwaminarayanSampradaay, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.C.SwaminarayanSampradaay, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.C.SwaminarayanSampradaay, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.C.RWSanints, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.C.RWSanints, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.C.RWSanints, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.C.PoliticalConnections, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.C.PoliticalConnections, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.C.PoliticalConnections, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.C.KnownSaints, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.C.KnownSaints, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.C.KnownSaints, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.C.ReligiousPlaces, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.C.ReligiousPlaces, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.C.ReligiousPlaces, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.C.DevoteeCategory, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.C.DevoteeCategory, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.C.DevoteeCategory, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.C.SevaSahyog, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.C.SevaSahyog, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.C.SevaSahyog, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" style="display:none">
                            @Html.LabelFor(model => model.C.RId, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.C.RId, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.C.RId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.C.Relation, htmlAttributes: new { @class = "control-label col-xs-4" })
                            <div class="col-xs-8">
                                @Html.EditorFor(model => model.C.Relation, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.C.Relation, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div style="display:none">
                            <div class="form-group">
                                @Html.LabelFor(model => model.C.CreatedBy, htmlAttributes: new { @class = "control-label col-xs-4" })
                                <div class="col-xs-8">
                                    @Html.EditorFor(model => model.C.CreatedBy, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.C.CreatedBy, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.C.CreatedDate, htmlAttributes: new { @class = "control-label col-xs-4" })
                                <div class="col-xs-8">
                                    @Html.EditorFor(model => model.C.CreatedDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.C.CreatedDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>