@model QuizApp.WebUI.Models.UserListViewModel

@{
    ViewBag.Title = "List";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            User Name
        </th>
        <th>
            Full Name
        </th>
        <th>
            E-mail
        </th>
        <th>
            Role
        </th>
        @*<th>
            Deleted
        </th>*@
        <th>
            Created By
        </th>
        <th>
            Created Date
        </th>
        @*<th>
            Updated By
        </th>
        <th>
            Updated Date
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model.Users)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
